<nav class="toc">
    <ul>
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
            <ul>
              {% for child in item.children %}
                <li>
                  <a href="{{ child.url }}">{{ child.title }}</a>
                  {% if child.children %}
                    <ul>
                      {% for subchild in child.children %}
                        <li><a href="{{ subchild.url }}">{{ subchild.title }}</a></li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  